<aside class="toc sidebar" data-title="{{or page.attributes.toctitle 'Page contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu" style="margin-top: 1rem;"></div>
</aside>
