footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: var(--footer-font-size);
  line-height: var(--footer-line-height);
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--footer-link-font-color);
}
