[data-theme="phosphor"] {
  --color-white: #fff;
  --color-gray-30: #8e8e8e;
  --color-jet-70: #222;
  --color-10: #0f0;
  --color-30: #0a0;
  --color-50: #060;
  --color-70: #030;
  --color-80: #020;
  --color-black: #000;
  --theme-admonition-background: var(--color-80);
  --theme-admonition-on-color: var(--color-black);
  --theme-back-icon: url(../img/back_green.svg);
  --theme-background: var(--color-black);
  --theme-body-font-color: var(--color-10);
  --theme-caption-font-color: var(--color-10);
  --theme-caret-icon: url(../img/caret_green.svg);
  --theme-caution-color: var(--color-30);
  --theme-chevron-icon: url(../img/chevron_green.svg);
  --theme-code-font-color: var(--color-10);
  --theme-doc-font-color: var(--color-10);
  --theme-example-background: var(--color-80);
  --theme-footer-font-color: var(--color-10);
  --theme-footer-link-font-color: var(--color-80);
  --theme-footer-background: var(--color-80);
  --theme-heading-font-color: var(--color-10);
  --theme-highlight-comment-font-color: var(--color-50);
  --theme-highlight-keyword-font-color: var(--color-10);
  --theme-highlight-literal-font-color: var(--color-10);
  --theme-highlight-new_method-font-color: var(--color-10);
  --theme-home-icon: url(../img/home_light.svg);
  --theme-home-o-icon: url(../img/home-o_light.svg);
  --theme-important-color: var(--color-30);
  --theme-link-font-color: var(--color-30);
  --theme-link_hover-font-color: var(--color-30);
  --theme-menu-icon: url(../img/menu_green.svg);
  --theme-nav-background: var(--color-80);
  --theme-nav-explore-background: var(--color-70);
  --theme-nav-secondary-background: var(--color-80);
  --theme-note-color: var(--color-30);
  --theme-page-version-menu-background: var(--color-80);
  --theme-page-version-missing-font-color: var(--color-50);
  --theme-panel-background: var(--color-80);
  --theme-pre-border-color: var(--color-70);
  --theme-quote-attribution-font-color: var(--color-10);
  --theme-quote-background: var(--color-80);
  --theme-quote-border-color: var(--color-70);
  --theme-quote-font-color: var(--color-10);
  --theme-scrollbar-thumb-color: var(--color-70);
  --theme-sidebar-background: var(--color-80);
  --theme-section-divider-color: var(--color-70);
  --theme-tip-color: var(--color-30);
  --theme-toc-font-color: var(--color-10);
  --theme-toolbar-background: var(--color-70);
  --theme-toolbar-font-color: var(--color-10);
  --theme-toolbar-muted-color: var(--color-50);
  --theme-warning-color: var(--color-30);
}
