[data-theme="pastel"] {
  --color-white: #fff;
  --color-gray-30: #8e8e8e;
  --color-gray-70: #5d5d5d;
  --color-jet-70: #222;
  --color-denim: #1565c0;
  --color-gold: #f0d125;
  --color-green-40: #218f26;
  --color-ice: #beeeff;
  --color-lavender: #edd9ff;
  --color-lime: #cfc;
  --color-peach: #fdc;
  --color-purple: #a0439c;
  --color-red: #f22;
  --color-rose: #ffc9f0;
  --color-sky: #73c2fb;
  --color-teal: #008080;
  --theme-admonition-background: var(--color-lime);
  --theme-admonition-on-color: var(--color-white);
  --theme-back-icon: url(../img/back.svg);
  --theme-background: var(--color-lavender);
  --theme-body-font-color: var(--color-jet-70);
  --theme-caption-font-color: var(--color-jet-70);
  --theme-caret-icon: url(../img/caret.svg);
  --theme-caution-color: var(--color-red);
  --theme-chevron-icon: url(../img/chevron.svg);
  --theme-code-font-color: var(--color-jet-70);
  --theme-doc-font-color: var(--color-jet-70);
  --theme-example-background: var(--color-lime);
  --theme-footer-font-color: var(--color-jet-70);
  --theme-footer-link-font-color: var(--color-jet-70);
  --theme-footer-background: var(--color-lime);
  --theme-heading-font-color: var(--color-gray-70);
  --theme-highlight-comment-font-color: var(--color-gray-30);
  --theme-highlight-keyword-font-color: var(--color-gold);
  --theme-highlight-literal-font-color: var(--color-teal);
  --theme-highlight-new_method-font-color: var(--color-red);
  --theme-home-icon: url(../img/home.svg);
  --theme-home-o-icon: url(../img/home-o.svg);
  --theme-important-color: var(--color-purple);
  --theme-link-font-color: var(--color-denim);
  --theme-link_hover-font-color: var(--color-denim);
  --theme-menu-icon: url(../img/menu.svg);
  --theme-nav-background: var(--color-peach);
  --theme-nav-explore-background: var(--color-rose);
  --theme-nav-secondary-background: var(--color-peach);
  --theme-note-color: var(--color-sky);
  --theme-page-version-menu-background: var(--color-peach);
  --theme-page-version-missing-font-color: var(--color-gray-30);
  --theme-panel-background: var(--color-white);
  --theme-pre-border-color: var(--color-gray-30);
  --theme-quote-attribution-font-color: var(--color-gray-70);
  --theme-quote-background: var(--color-peach);
  --theme-quote-border-color: var(--color-rose);
  --theme-quote-font-color: var(--color-jet-70);
  --theme-scrollbar-thumb-color: var(--color-denim);
  --theme-section-divider-color: var(--color-gray-30);
  --theme-sidebar-background: var(--color-ice);
  --theme-tip-color: var(--color-green-40);
  --theme-toc-font-color: var(--color-jet-70);
  --theme-toolbar-background: var(--color-rose);
  --theme-toolbar-font-color: var(--color-jet-70);
  --theme-toolbar-muted-color: var(--color-gray-30);
  --theme-warning-color: var(--color-gold);
}
