[data-theme="jungle"] {
  --color-white: #fff;
  --color-gray-10: #d3d3d3;
  --color-gray-30: #8e8e8e;
  --color-jet-50: #303030;
  --color-jet-70: #222;
  --color-amber: #d17104;
  --color-brown-20: #716825;
  --color-brown-50: #431;
  --color-brown-70: #35270a;
  --color-denim: #1565c0;
  --color-green-20: #df8;
  --color-green-60: #050;
  --color-green-80: #241;
  --color-purple: #a0439c;
  --color-red: #f22;
  --color-teal: #008080;
  --theme-admonition-background: var(--color-brown-70);
  --theme-admonition-on-color: var(--color-white);
  --theme-background: var(--color-jet-70);
  --theme-body-font-color: var(--color-white);
  --theme-caption-font-color: var(--color-gray-10);
  --theme-caret-icon: url(../img/caret_light.svg);
  --theme-caution-color: var(--color-red);
  --theme-chevron-icon: url(../img/chevron_light.svg);
  --theme-code-font-color: var(--color-white);
  --theme-doc-font-color: var(--color-white);
  --theme-example-background: var(--color-brown-50);
  --theme-footer-font-color: var(--color-white);
  --theme-footer-link-font-color: var(--color-jet-90);
  --theme-footer-background: var(--color-brown-70);
  --theme-heading-font-color: var(--color-green-20);
  --theme-highlight-comment-font-color: var(--color-gray-30);
  --theme-highlight-keyword-font-color: var(--color-amber);
  --theme-highlight-literal-font-color: var(--color-teal);
  --theme-highlight-new_method-font-color: var(--color-red);
  --theme-important-color: var(--color-purple);
  --theme-link-font-color: var(--color-red);
  --theme-link_hover-font-color: var(--color-red);
  --theme-nav-background: var(--color-green-60);
  --theme-nav-explore-background: var(--color-green-80);
  --theme-nav-secondary-background: var(--color-green-60);
  --theme-note-color: var(--color-denim);
  --theme-page-version-menu-background: var(--color-brown-70);
  --theme-page-version-missing-font-color: var(--color-gray-30);
  --theme-panel-background: var(--color-jet-50);
  --theme-pre-border-color: var(--color-brown-50);
  --theme-quote-attribution-font-color: var(--color-gray-10);
  --theme-quote-background: var(--color-jet-70);
  --theme-quote-border-color: var(--color-brown-20);
  --theme-quote-font-color: var(--color-white);
  --theme-scrollbar-thumb-color: var(--color-red);
  --theme-section-divider-color: var(--color-green-20);
  --theme-sidebar-background: var(--color-brown-50);
  --theme-tip-color: var(--color-green-60);
  --theme-toc-font-color: var(--color-white);
  --theme-toolbar-background: var(--color-green-80);
  --theme-toolbar-font-color: var(--color-white);
  --theme-toolbar-muted-color: var(--color-gray-30);
  --theme-warning-color: var(--color-amber);
}
