[data-theme="dark"] {
  --color-smoke: #e1e1e1;
  --color-gray-10: #d3d3d3;
  --color-gray-30: #8e8e8e;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-70: #222;
  --color-amber: #d17104;
  --color-blue: #1565c0;
  --color-cyan: #008080;
  --color-green-20: #df8;
  --color-green-40: #218f26;
  --color-red: #f22;
  --color-purple: #a0439c;
  --theme-admonition-background: var(--color-jet-20);
  --theme-admonition-on-color: var(--color-smoke);
  --theme-background: var(--color-jet-30);
  --theme-body-font-color: var(--color-smoke);
  --theme-caption-font-color: var(--color-gray-10);
  --theme-caution-color: var(--color-red);
  --theme-code-font-color: var(--color-green-20);
  --theme-doc-font-color: var(--color-smoke);
  --theme-example-background: var(--color-jet-20);
  --theme-footer-font-color: var(--color-smoke);
  --theme-footer-link-font-color: var(--color-jet-90);
  --theme-footer-background: var(--color-jet-20);
  --theme-heading-font-color: var(--color-smoke);
  --theme-highlight-comment-font-color: var(--color-gray-30);
  --theme-highlight-keyword-font-color: var(--color-amber);
  --theme-highlight-literal-font-color: var(--color-cyan);
  --theme-highlight-new_method-font-color: var(--color-red);
  --theme-important-color: var(--color-purple);
  --theme-link-font-color: var(--color-amber);
  --theme-link_hover-font-color: var(--color-amber);
  --theme-nav-background: var(--color-jet-20);
  --theme-nav-explore-background: var(--color-gray-70);
  --theme-nav-heading-font-color: var(--color-smoke);
  --theme-nav-secondary-background: var(--color-jet-20);
  --theme-note-color: var(--color-blue);
  --theme-page-version-menu-background: var(--color-jet-20);
  --theme-panel-background: var(--color-jet-30);
  --theme-pre-border-color: var(--color-gray-30);
  --theme-quote-attribution-font-color: var(--color-gray-10);
  --theme-quote-background: var(--color-jet-30);
  --theme-quote-border-color: var(--color-gray-30);
  --theme-quote-font-color: var(--color-smoke);
  --theme-scrollbar-thumb-color: var(--color-amber);
  --theme-sidebar-background: var(--color-jet-20);
  --theme-section-divider-color: var(--color-gray-30);
  --theme-tip-color: var(--color-green-40);
  --theme-toc-font-color: var(--color-smoke);
  --theme-toolbar-background: var(--color-gray-70);
  --theme-toolbar-font-color: var(--color-smoke);
  --theme-toolbar-muted-color: var(--color-gray-30);
  --theme-warning-color: var(--color-amber);
}
