[data-theme="canyon"] {
  --color-smoke: #e1e1e1;
  --color-gray-20: #bbb;
  --color-gray-30: #8e8e8e;
  --color-gray-70: #5d5d5d;
  --color-jet-70: #222;
  --color-beige: #ccccb3;
  --color-copper-20: #dbad82;
  --color-copper-50: #b87333;
  --color-khaki: #bcb88a;
  --color-purple: #a0439c;
  --color-sage: #568430;
  --color-sky: #73c2fb;
  --color-straw: #d3cd99;
  --color-tomato: #c42;
  --theme-admonition-background: var(--color-straw);
  --theme-admonition-on-color: var(--color-smoke);
  --theme-background: var(--color-beige);
  --theme-body-font-color: var(--color-jet-70);
  --theme-caption-font-color: var(--color-jet-70);
  --theme-caution-color: var(--color-tomato);
  --theme-code-font-color: var(--color-jet-70);
  --theme-doc-font-color: var(--color-jet-70);
  --theme-example-background: var(--color-straw);
  --theme-footer-font-color: var(--color-smoke);
  --theme-footer-link-font-color: var(--color-jet-70);
  --theme-footer-background: var(--color-sage);
  --theme-heading-font-color: var(--color-gray-70);
  --theme-highlight-comment-font-color: var(--color-gray-30);
  --theme-highlight-keyword-font-color: var(--color-tomato);
  --theme-highlight-literal-font-color: var(--color-purple);
  --theme-highlight-new_method-font-color: var(--color-copper-50);
  --theme-important-color: var(--color-purple);
  --theme-link-font-color: var(--color-sage);
  --theme-link_hover-font-color: var(--color-sage);
  --theme-nav-background: var(--color-copper-20);
  --theme-nav-explore-background: var(--color-khaki);
  --theme-nav-secondary-background: var(--color-straw);
  --theme-note-color: var(--color-sky);
  --theme-page-version-menu-background: var(--color-straw);
  --theme-page-version-missing-font-color: var(--color-gray-30);
  --theme-panel-background: var(--color-gray-20);
  --theme-pre-border-color: var(--color-gray-30);
  --theme-quote-attribution-font-color: var(--color-gray-70);
  --theme-quote-background: var(--color-straw);
  --theme-quote-border-color: var(--color-copper-50);
  --theme-quote-font-color: var(--color-jet-70);
  --theme-scrollbar-thumb-color: var(--color-copper-50);
  --theme-section-divider-color: var(--color-copper-50);
  --theme-sidebar-background: var(--color-khaki);
  --theme-tip-color: var(--color-sage);
  --theme-toc-font-color: var(--color-jet-70);
  --theme-toolbar-background: var(--color-sky);
  --theme-toolbar-font-color: var(--color-jet-70);
  --theme-toolbar-muted-color: var(--color-gray-30);
  --theme-warning-color: var(--color-copper-50);
}
