.toolbar {
  align-items: center;
  background-color: var(--toolbar-background);
  border-radius: 0.8rem;
  color: var(--toolbar-font-color);
  display: flex;
  font-size: var(--toolbar-font-size);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.nav-toggle-label {
  background-color: var(--toolbar-background);
  border: none;
  color: var(--toolbar-font-color);
}

.nav-toggle {
  background: var(--theme-chevron-icon) no-repeat 50%;
  background-size: 28%;
  border: none;
  height: 2.5rem;
  margin-left: -1.2rem;
  margin-right: 1rem;
  transform: rotate(270deg);
  width: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .nav-toggle-label,
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active {
  transform: rotate(90deg);
}

.home-link {
  background: var(--theme-home-o-icon) no-repeat 50% 45%;
  background-size: 50%;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: var(--theme-home-icon);
}

.edit-this-page {
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-muted-color);
}
