:root {
  /* fonts */
  --rem-base: 18;
  /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: calc(19 / var(--rem-base) * 1rem);
  --body-font-size--desktop: calc(20 / var(--rem-base) * 1rem);
  --body-font-size--print: calc(17 / var(--rem-base) * 1rem);
  /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--theme-body-font-color);
  --body-font-family: "Roboto", sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 600;
  /* base */
  --body-background: var(--theme-background);
  --panel-background: var(--theme-panel-background);
  --panel-border-color: var(--color-gray-30);
  --scrollbar-thumb-color: var(--theme-scrollbar-thumb-color);
  /* navbar -- not themed! */
  --navbar-background: var(--color-jet-70);
  --navbar-font-color: var(--color-smoke);
  --navbar_hover-background: var(--color-jet-70);
  --navbar-brand-font-size: calc(22 / var(--rem-base) * 1rem);
  --navbar-button-background: var(--color-smoke);
  --navbar-button-border-color: var(--color-gray-30);
  --navbar-button-font-color: var(--color-jet-70);
  --navbar-font-size: calc(16 / var(--rem-base) * 1rem);
  --navbar-menu-border-color: var(--color-jet-70);
  --navbar-menu-background: var(--color-gray-30);
  --navbar-menu-font-color: var(--color-jet-70);
  --navbar-menu_hover-background: var(--color-smoke);
  --navbar-slider-color: var(--color-gray-30);
  /* nav */
  --nav-background: var(--theme-nav-background);
  --nav-border-color: var(--theme-body-font-color);
  --nav-explore-background: var(--theme-nav-explore-background);
  --nav-font-size: calc(17 / var(--rem-base) * 1rem);
  --nav-heading-font-color: var(--theme-heading-font-color);
  --nav-line-height: 1;
  --nav-secondary-background: var(--theme-nav-secondary-background);
  /* toolbar */
  --toolbar-background: var(--theme-toolbar-background);
  --toolbar-font-color: var(--theme-toolbar-font-color);
  --toolbar-font-size: calc(16 / var(--rem-base) * 1rem);
  --toolbar-muted-color: var(--theme-toolbar-muted-color);
  --page-version-menu-background: var(--theme-page-version-menu-background);
  --page-version-missing-font-color: var(--theme-page-version-missing-font-color);
  /* toc */
  --toc-background: var(--theme-sidebar-background);
  --toc-border-color: var(--theme-link-font-color);
  --toc-font-color: var(--theme-toc-font-color);
  --toc-font-size: calc(15 / var(--rem-base) * 1rem);
  --toc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --toc-heading-font-color: var(--theme-heading-font-color);
  --toc-line-height: 1;
  /* admonitions */
  --admonition-background: var(--theme-admonition-background);
  --admonition-font-size: calc(16 / var(--rem-base) * 1rem);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caution-color: var(--theme-caution-color);
  --caution-on-color: var(--theme-admonition-on-color);
  --important-color: var(--theme-important-color);
  --important-on-color: var(--theme-admonition-on-color);
  --note-color: var(--theme-note-color);
  --note-on-color: var(--theme-admonition-on-color);
  --tip-color: var(--theme-tip-color);
  --tip-on-color: var(--theme-admonition-on-color);
  --warning-color: var(--theme-warning-color);
  --warning-on-color: var(--theme-admonition-on-color);
  /* doc */
  --doc-font-color: var(--theme-doc-font-color);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.3;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --h1-font-size: calc(36 / var(--rem-base) * 1rem);
  --heading-font-color: var(--theme-heading-font-color);
  --heading-font-size: calc(27 / var(--rem-base) * 1rem);
  --heading-font-weight: 600;
  --section-divider-color: var(--theme-section-divider-color);
  --link-font-color: var(--theme-link-font-color);
  --link_hover-font-color: var(--theme-link_hover-font-color);
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--theme-caption-font-color);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--theme-code-font-color);
  --code-font-size: calc(16 / var(--rem-base) * 1rem);
  --example-background: var(--theme-example-background);
  --example-border-color: var(--theme-pre-border-color);
  --highlight-comment-font-color: var(--theme-highlight-comment-font-color);
  --highlight-keyword-font-color: var(--theme-highlight-keyword-font-color);
  --highlight-literal-font-color: var(--theme-highlight-literal-font-color);
  --highlight-new_method-font-color: var(--theme-highlight-new_method-font-color);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--theme-doc-font-color);
  --kbd-font-size: calc(12 / var(--rem-base) * 1rem);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--theme-pre-border-color);
  --pre-annotation-font-color: var(--theme-highlight-comment-font-color);
  --pre-font-size: calc(16 / var(--rem-base) * 1rem);
  --quote-background: var(--theme-quote-background);
  --quote-border-color: var(--theme-quote-border-color);
  --quote-font-color: var(--theme-quote-font-color);
  --quote-attribution-font-color: var(--theme-quote-attribution-font-color);
  --sidebar-background: var(--theme-sidebar-background);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--theme-footer-background);
  --footer-font-color: var(--theme-footer-font-color);
  --footer-font-size: calc(15 / var(--rem-base) * 1rem);
  --footer-link-font-color: var(--theme-footer-link-font-color);
  /* dimensions and positioning */
  --navbar-height: calc(38 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(380 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
